<div class="formBorder">
    <form [formGroup]="postForm" class="container" (ngSubmit)="createPost()" enctype="multipart/form-data">
        <div class="form-group">
            <div class="row">
                <div class="col-md-7">
                    <input type="text" formControlName="posttitle" name="postid" class="form-control" id="name" aria-describedby="name" placeholder="Title of the Post" required>
                </div>
                <div class="col-md-5">
                    <input type="file" name="image" accept="image/x-png,image/gif,image/jpeg"   (change)="onFileSelect($event)" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control" formControlName="postcontent" name="postcontent" rows="3" placeholder="Content of the Post" required></textarea>
        </div>
        <div class="row">
            <div class="col-md-9"> 
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-check">
                                <input  class="form-check-input" type="radio" name="emoji"  formControlName="emoji" id="gridRadios1" value="Happy" checked>Happy
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input  class="form-check-input" type="radio" name="emoji"  formControlName="emoji" id="gridRadios1" value="Sad">Sad
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-check">
                                <input  class="form-check-input" type="radio" name="emoji"  formControlName="emoji" id="gridRadios1" value="Joy" >Joy
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <tag-input class="form-control input-sm" formControlName="tags" [placeholder]="'eg.climate , season '" [secondaryPlaceholder]="'#Hashtags'" [modelAsStrings]="true"
                            placeholder="eg:climate,season">
                    </tag-input>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-outline-dark">CREATE POST</button>
            </div>
        </div>
    </form>
</div>
