/*.middlebanner{
  width: 65%;
  position: absolute;
  padding-top: 20px;
  right: 5%;
}


.leftBanner{
  padding-top: 100px;
  position: absolute;
  width: 20%;
  left:5%;
}


.rightBanner{
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  left: 78%;
  right:2%;
  background-color: lightcoral;
}
*/
.postsbanner
{
  padding-top: 15px;
  padding-bottom: 15px;
}

.centerAlign{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}