<app-navbar></app-navbar>
    <div class="container">
        <app-createpost *ngIf="this.userService.isAdminLoggedIn()"></app-createpost>
        <div *ngIf="postsFlag">
        <div *ngFor="let post of posts" class="postsbanner">
            <div class="card">
                <div class="card-header">
                    <h5>{{post.posttitle}}</h5>
                </div>
                <div *ngIf="post.isimage">
                    <img [src]= "'https://hari-shareminds-backend.herokuapp.com/post/download/'+post.postimageid+'.png' " alt="No Image Preview" class="centerAlign" width="200" height="200">
                </div>
                <div class="card-body">
                    <p class="card-title">Feeling {{ post.emoji}}..!!</p>
                    <h5 class="card-text">{{post.postcontent}}</h5>
                    <small>Posted at {{post.date | date:'medium' }}</small>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div *ngIf="!this.userService.isAdminLoggedIn()" class="col-md-3"> 
                            <button  type="button" class="btn btn-dark" (click)="addLikesToPost(post._id)">{{post.likes  }}&nbsp;&nbsp;<i class="fa fa-thumbs-up"></i>  </button>
                        </div>
                        <div [hidden]="this.userService.isAdminLoggedIn()" class="col-md-6"> 
                            <textarea class="form-control"  name="comment" rows="1"  placeholder="Comment for the post" #postCommentContent></textarea>
                        </div>
                        <div [hidden]="this.userService.isAdminLoggedIn()" class="col-md-3"> 
                            <button type="button" class="btn btn-dark" (click)="commentPost(post._id,postCommentContent)"><i class="fa fa-comments">&nbsp;&nbsp;WRITE COMMENT</i></button>
                        </div>
                        <div *ngIf="this.userService.isAdminLoggedIn()" class="col-md-3"> 
                            <button  type="button" class="btn btn-dark" data-toggle="modal" data-target="#updateCommentModal"><i class="fa fa-edit">&nbsp;&nbsp;EDIT</i></button>
                            <div class="modal fade" id="updateCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalCenterTitle">Enter the updated post content :</h5>
                                    </div>
                                    <div class="modal-body">
                                        <textarea class="form-control" [(ngModel)]="updatedPostContent" name="updatedPostContent" rows="3" placeholder="Content of the Post" ></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="updatePost(post._id)">Save</button>
                                      </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="this.userService.isAdminLoggedIn()" class="col-md-3"> 
                            <button  type="button" class="btn btn-dark" (click)="deletePost(post._id)"><i class="fa fa-trash">&nbsp;&nbsp;REMOVE</i></button>
                        </div>
                        <div *ngIf="this.userService.isAdminLoggedIn()" class="col-md-3"> 
                            <button  type="button" class="btn btn-dark" (click)="hidePost(post._id)"><i class="fa fa-archive">&nbsp;&nbsp;ARCHIVE</i></button>
                        </div>
                    </div>
                </div>
                <div class="card-footer" *ngIf="post.comments.length > 0 ">
                    <div *ngFor="let comment of post.comments">
                        <div class="row">
                            <div class="col-md-5">
                                <img [src]= "'https://hari-shareminds-backend.herokuapp.com/user/profiledownload/'+comment.commentimageid+'.png' "  style="border-radius: 70%;padding: 6px;" alt="No Image"  width="45" height="45">
                                <label><b>{{comment.username}}</b> </label>
                                <label>&nbsp;commented &nbsp;<b>"</b>{{ comment.commentcontent}}<b>"</b></label>
                            </div>
                            <div class="col-md-6" [hidden]="!this.userService.isAdminLoggedIn()">
                                <textarea class="form-control"  name="commentReplyContent" rows="1"  placeholder="Reply to comment" #commentContent></textarea>
                            </div>
                            <div class="col-md-1"  [hidden]="!this.userService.isAdminLoggedIn()">
                                <button type="button" class="btn btn-outline-dark btn-sm" (click)="replyComment(comment._id,commentContent)">Reply</button>
                            </div>
                        </div>
                        <div class="row" *ngIf="comment.commentreply">
                            <div class="col-md-11">
                                <img src= "https://hari-shareminds-backend.herokuapp.com/user/profiledownload/admin-profile.png "  style="border-radius: 70%;padding: 6px;" alt="No Image"  width="45" height="45">
                                <label><b>Admin</b> </label>
                                <label>&nbsp;replied as &nbsp;<b>"</b>{{ comment.commentreply}}<b>"</b></label>
                            </div>
                            <div *ngIf="this.userService.isAdminLoggedIn()" class="col-md-1">
                                <button type="button" class="btn btn-outline-dark btn-sm" (click)="deleteComment(post._id,comment._id)">Delete</button>
                            </div>
                        </div><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


